body {
  background-image: linear-gradient(100deg, #8C6FAE, #FFDB9E, #66D1FF);
  color: rgb(252, 252, 252);
  min-height: 100vh;
  margin: 30px;
}

header {
  font-size: 60px;
  margin: 10px;
  text-align: center;
}

header,
form {
  justify-content: center;
  align-items: center;
}


.form-group {
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
}

.btn {
  color: #8C6FAE;
  background: white;
  cursor: pointer;
}


/* Class generated after submit button is pressed */
.textInput {
  position: absolute;
  padding: 5px;
  font-size: 30px;
  text-align: center;
  color: white;
}

.top-text {
  top: 0;
  left: 0;
  right: 0;
}

.bottom-text {
  bottom: 0;
  left: 0;
  right: 0
}

.single-container {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.individualImage {
  margin: 20px;
}
